section.donate {
    background: var(--background-color);

    ul.donate-buttons {
        list-style-type: none;
        display: flex;
        gap: 1em;
        padding: 0;
        flex-direction: column;

        @media (min-width: 720px) {
            gap: 0 1em;
            flex-direction: row;
        }
    }

    h3 {
        font-size: 1.5em;
        color: var(--brand-1);
    }
}
