#content-footer .navigation {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 3rem;
}

#content-footer .navigation a {
    border-radius: 3px;
    border: 2px solid #ffffff0d;
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    padding: 8px 12px;
    user-select: none;
    transform: translateY(0);
    transition: transform 200ms ease, background-color 200ms ease, color 200ms ease;
}

#content-footer .navigation a:hover {
    background: var(--background-active);
    color: var(--background-secondary);
    text-decoration: none;
    transform: translateY(-2px);
}

#content-footer .navigation a.previous {
    justify-self: flex-start;
}

#content-footer .navigation a.next {
    justify-self: flex-end;
    grid-column: 2/3;
}

#content-footer .navigation a.previous::before {
    content: "« ";
}

#content-footer .navigation a.next::after {
    content: " »";
}

#content-footer .navigation + #childLinks {
    margin-top: 3rem;
}



#content-footer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

#content-footer .updated {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    font-style: italic;
    font-size: smaller;
}

#content-footer .updated time {
    font-weight: bold;
    
}