.export-dialog form .form-check {
    padding-top: 10px;
    padding-bottom: 10px;
}

.export-dialog form .format-choice {
    padding-inline-start: 40px;
}

.export-dialog form .opml-versions {
    padding-inline-start: 60px;
}

.export-dialog form .form-check-label {
    padding: 2px;
}