:root .tabulator {
    --col-header-hover-background-color: var(--hover-item-background-color);
    --col-header-arrow-active-color: var(--active-item-text-color);
    --col-header-arrow-inactive-color: var(--main-border-color);

    --row-moving-background-color: var(--more-accented-background-color);

    --cell-editable-hover-outline-color: var(--input-focus-outline-color);

    --cell-editing-border-color: var(--input-focus-outline-color);
    --cell-editing-background-color: var(--input-background-color);
    --cell-editing-text-color: var(--input-text-color);
}